.root{
    -fx-background-color: #343434;
}

.toolbar {
    -fx-padding: 10px;
    -fx-background-color:  linear-gradient(to top, #232323, #232323);
    -fx-background: #EFEFEF;
    -fx-color: #EFEFEF;
}


.header_text {
    -fx-stroke: #EFEFEF;
    -fx-fill: #EFEFEF;
}



.scroll-pane{
    -fx-font-size: 16;
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-border-color: #EFEFEF;
    -fx-font-size: 16;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical > .track,
.scroll-pane .scroll-bar:vertical > .track-background,
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:horizontal > .track,
.scroll-pane .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}


.chart{
    -fx-padding: 5px;
    -fx-text-fill: #EFEFEF;
    -fx-font-size: 12;
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.axis-tick-mark {
    -fx-stroke: #EFEFEF;
    -fx-stroke-width: 2; 
}
.axis-minor-tick-mark {
    -fx-stroke: #EFEFEF;
}
 
.axis-label {
  -fx-font-size: 10;
  -fx-text-fill: #EFEFEF;
}

.axis {
    -fx-font-size: 12;    
    -fx-tick-label-fill: #EFEFEF;
    -fx-font-family: Tahoma;
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}

.text-area{
    -fx-text-fill: #EFEFEF;
    -fx-font-size: 16;
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: #EFEFEF;
}

.text-label {
    -fx-font-size: 16;
}



.text-field{
    -fx-background-color:  linear-gradient(to top, #232323, #232323);
    -fx-text-fill: #EFEFEF;
}

.stock_button{
    -fx-background-color:  linear-gradient(to top, #232323, #232323);
    -fx-text-fill: #EFEFEF;
    -fx-border-radius: 1;
    -fx-background-radius: 0px;
    -fx-padding: 5px;
}
.button{
    -fx-background-color:  linear-gradient(to top, #232323, #232323);
    -fx-text-fill: #EFEFEF;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.grid-pane {
    -fx-background-color: transparent;
}

.tool-bar{
    -fx-background-color: #232323;
}

.stack{
    -fx-background-color: transparent;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: #EFEFEF;
    -fx-padding: 0px;
}

.table-view .filler{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-border-color: #EFEFEF;
    -fx-padding: 0px;
}


.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #EFEFEF;
}

.table-view .column-header{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #EFEFEF;
    -fx-table-header-border-color: #EFEFEF;
    -fx-border-color: transparent transparent #EFEFEF transparent;
}

.table-view .table-cell{
    -fx-background-color: #454545;
    -fx-border-color: #EFEFEF;
    -fx-text-fill: #EFEFEF;
}

.table-view .table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #343434;
    -fx-table-cell-border-color: #EFEFEF;
    -fx-table-header-border-color: #EFEFEF;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}
